<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="HelloWorldHandler" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\inetpub\wwwroot\HelloWorld.exe" resourceType="Unspecified" requireAccess="Execute" />
    </handlers>
  </system.webServer>
</configuration>
